[Unit]
Description=Ats comments service file
After=network.target

[Service]
User=pi
Type=forking
ExecStart=/usr/bin/ats_comments

[Install]
WantedBy=multi-user.target